.gallery_wrapper {
  color: var(--dark);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: 10px;
  height: 100%;
  border-bottom: 1px solid var(--border_color);
}
.result_section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.result_title {
  font-weight: 700;
}

.result_count {
  margin-left: 5px;
  font-weight: 400;
}

.result_title {
  text-transform: capitalize;
}

.next_page_btn {
  background-color: white;
  text-align: center;
  padding: 30px;
}
.next_page_btn button {
  background: none;
  border: 1px solid var(--dark);
  font-size: 16px;
  color: var(--dark);
  padding: 10px 20px;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
}

.next_page_btn button:hover {
  background-color: var(--grey);
}

.not_found_section {
  background-color: white;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  color: var(--dark);
}

/* grid section */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 1;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
  }
}
